
@{
    ViewData["Title"] = "Principal";
}

 @*cabecalho*@


@*cadastrar turma*@

<div class="mt-5  w-100 d-flex justify-content-end">
<button class="border-2 btn btn-outline-primary" type="submit" data-bs-toggle="modal" data-bs-target="#cadastrarTurma">Cadastrar turma</button>
</div>


@*titulo*@
<h1>Sua lista de turmas</h1>


@if(ViewBag.NomeProfessor == null)
{
    <a asp-controller="Login">Login</a>
}
else
{
    @*tabela*@
    <table class="table">
        <thead>
            <tr>
                <th scope="row">Número</th>
                <th>Nome da turma</th>
                <th>Ações</th>
            </tr>
         
        </thead>

        <tbody>
            @foreach (var turma in Model)
            {
                <tr>
                    <td>@turma.TurmaId</td>
                    <td>@turma.Nome</td>
                    <td>
                        <div style="display:flex">
                            <form asp-controller="Professor" asp-action="ExcluirTurma">
                                <input type="hidden" name="turmaId" value="@turma.TurmaId" />
                                <button class="btn" type="button" style="text-decoration: underline; text-decoration-color: red; color:red"
                                        data-bs-toggle="modal" data-bs-target="#excluirTurma">Excluir</button>
                            </form>

                            <form asp-controller="Atividade" asp-action="Index" asp-route-turmaId="@turma.TurmaId">
                                <input type="hidden" name="turmaId" value="@turma.TurmaId" />
                                <button class="btn" type="submit" style="text-decoration: underline; text-decoration-color:green; color:green">Visualizar</button>
                            </form>
                        </div>


                    </td>
                </tr>
            }

        </tbody>
    </table>

    @if (TempData["Mensagem"] != null)
    {
        <p style="color: red;">@TempData["Mensagem"]</p>
    }

    @*Codigo do modal*@
    <div class="modal" tabindex="-1" id="cadastrarTurma">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Cadastrar Turma</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <form asp-controller="Professor" asp-action="CadastrarTurma">
                <div class="modal-body">
                        <label>Nome da Turma</label>
                        <input type="text" name="nomeTurma" class="form-control" required />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                </div>
                </form>
            </div>
        </div>
    </div>


    @*Codigo do modal*@
    <div class="modal" tabindex="-1" id="excluirTurma">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Excluir Turma</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

              @*   <form asp-controller="Professor" asp-action="ExcluirTurma">
                    <div class="modal-body">
                        <label>Nome da Turma</label>
                        <input hidden type="text" name="nomeTurma" class="form-control" value="@ViewBag.Turma" required />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Confirmar</button>
                    </div>
                </form> *@

                <form asp-controller="Professor" asp-action="ExcluirTurma" method="post">
                    <div class="modal-body">
                        <label>Nome da Turma</label>
                        <input type="hidden" name="turmaId" value="@ViewBag.Turma" />
                        <input type="text" name="nomeTurma" class="form-control" value="@ViewBag.TurmaNome" readonly />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-danger">Confirmar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

   

}
